  body{
    background-color: #e7eeeb;
  }
  .container {
    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
    grid-template-rows: 50px;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header header header"
      "sidebar navigator navigator ads"
      "sidebar main main ads"
      "footer footer footer footer";
  }
  
  .footer { 
      grid-area: footer; 
      background-color: #58FCB1;
    }
  
  .sidebar {
    background-color: #58FCB1;

    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
  .main { 
      grid-area: main;

    }
    
    .ads { 
      grid-area: ads;
      background-color: #58FCB1;

    }
    .navigator{
      grid-area: navigator;
    }
  
  .header {
    grid-area: header;
    text-align: center;
    background-color: #58FCB1;
    display: grid;
  }
  .sidebar .logo{
    background-color: white;
    align-self: center;
  }
  .logo img{
    width: 100%;
  }
  article{
    background-color: #effff8;
    transform: skewX(-10deg);
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border: #000 solid 1px; */
    margin: 30px;
  }
  article figure{
    flex:1;
  }
  article figure img{
    max-height: 100px;
  }
  article p{
    flex: 2;
  }
  @media screen and (max-width: 950px){
    article{
    transform: skewX(0);
    flex-direction: column;
    }

  }
  @media screen and (max-width: 800px){
    .container {
      display: grid;
      grid-auto-flow: row;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-areas:
        "header header header header"
        "navigator navigator navigator navigator"
        "sidebar main main main"
        'ads footer footer footer';
    }
  }

  @media screen and (max-width: 400px){
    .container {
      display: grid;
      grid-auto-flow: row;
      grid-template-columns: 1fr 1fr 1fr 1fr; 
      grid-template-areas:
        "header header header header"
        "navigator navigator navigator navigator"
        "main main main main"
        "sidebar sidebar sidebar sidebar"
        'ads ads ads ads'
        "footer footer footer footer";
    }

  }